<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
- Licensed Materials - Property of IBM Corp.
- IBM UrbanCode Deploy
- (c) Copyright IBM Corporation 2011, 2014. All Rights Reserved.
-
- U.S. Government Users Restricted Rights - Use, duplication or disclosure restricted by
- GSA ADP Schedule Contract with IBM Corp.
-->

<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1" xmlns:server="http://www.urbancode.com/PluginServerXMLSchema_v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.urbancode.air.plugin.apiconnect" name="IBM API Connect" version="1"/>
    <description>
      Integration with API Connect to assist develop and publish APIs and LoopBack applications.
    </description>
    <tag>IBM API Management/IBM API Connect</tag>
  </header>
  <step-type name="Login">
    <description>Authenticate with an API Connect cloud via the management server. This step is a prerequisite for all steps.</description>
    <properties>
      <property name="server" required="true">
        <property-ui type="textBox"
                     label="Server"
                     default-value="${p:component/apic.server}"
                     description="Authenticate with the specified API Connect management server endpoint. For example, the Bluemix endpoint is: 'us.apiconnect.ibmcloud.com'"/>
      </property>
      <property name="username" required="true">
        <property-ui type="textBox"
                     label="Username"
                     default-value="${p:apic.username}"
                     description="Username to authenticate with the API Connect management server."/>
      </property>
      <property name="password" required="true">
        <property-ui type="secureBox"
                     label="Password"
                     default-value="${p:apic.password}"
                     description="Password to authenticate with the API Connect management server."/>
      </property>
      <property name="type" required="false">
        <property-ui type="selectBox"
                     label="Type"
                     default-value="${p:component/apic.projectType}"
                     description="The type of project desired to log into."/>
                <value label="Default">Default</value>
                <value label="App">app</value>
                <value label="Catalog">catalog</value>

      </property>
      <property name="apicPath" required="false">
        <property-ui type="textBox"
                     hidden="true"
                     label="APIC Tool Path"
                     default-value="${p?:component/apic.path}"
                     description="Full path to the 'apic' command line tool. Example: 'C:\Users\IBM_ADMIN\AppData\Roaming\npm\apic.cmd'"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes"/>
      <arg file="login.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Logout">
    <description>Remove local authentication credentials for an API Connect cloud. Suggested to run on the completion of each deployment process.</description>
    <properties>
      <property name="server" required="true">
        <property-ui type="textBox"
                     label="Server"
                     default-value="${p:component/apic.server}"
                     description="Remove credentials for the specified API Connect management server endpoint. For example, the Bluemix endpoint is: 'us.apiconnect.ibmcloud.com'"/>
      </property>
      <property name="apicPath" required="false">
        <property-ui type="textBox"
                     hidden="true"
                     label="APIC Tool Path"
                     default-value="${p?:component/apic.path}"
                     description="Full path to the 'apic' command line tool. Example: 'C:\Users\IBM_ADMIN\AppData\Roaming\npm\apic.cmd'"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes"/>
      <arg file="logout.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Push Local API or Product Definitions to Drafts">
    <description>Push a local API or Prouducd definition to drafts on API Connect cloud.</description>
    <properties>
      <property name="server" required="true">
        <property-ui type="textBox"
                     label="Server"
                     default-value="${p:component/apic.server}"
                     description="The specified management server endpoint to push to. For example, the Bluemix endpoint is: 'us.apiconnect.ibmcloud.com'"/>
      </property>
      <property name="organization" required="true">
        <property-ui type="textBox"
                     label="Organization"
                     default-value="${p:component/apic.organization}"
                     description="Provider organization name."/>
      </property>
      <property name="definition" required="true">
        <property-ui type="textBox"
                     label="API or Product Definition"
                     default-value="${p:component/apic.definition}"
                     description="The full path of a .yaml file containing the API or Product definition."/>
      </property>
      <property name="replace" required="false">
        <property-ui type="textBox"
                     label="Replace Named Version"
                     default-value="${p?:component/apic.replaceNameVersion}"
                     description="Replace a differently named/versioned defintion. The property should take the following format: 'Name:Version' For example: 'climbon: 1.0.0'"/>
      </property>
      <property name="productOnly" required="false">
        <property-ui type="checkBox"
                     label="Product Only"
                     default-value="false"
                     description="Selecting will not push the referenced APIs."/>
      </property>
      <property name="apicPath" required="false">
        <property-ui type="textBox"
                     hidden="true"
                     label="APIC Tool Path"
                     default-value="${p?:component/apic.path}"
                     description="Full path to the 'apic' command line tool. Example: 'C:\Users\IBM_ADMIN\AppData\Roaming\npm\apic.cmd'"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes"/>
      <arg file="draftsPush.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Publish API and Product Definitions">
    <description>Publish and deploy a product and its referenced APIs to a catalog.</description>
    <properties>
      <property name="server" required="true">
        <property-ui type="textBox"
                     label="Server"
                     default-value="${p:component/apic.server}"
                     description="The specified management server endpoint to publish to. For example, the Bluemix endpoint is: 'us.apiconnect.ibmcloud.com'"/>
      </property>
      <property name="organization" required="true">
        <property-ui type="textBox"
                     label="Organization"
                     default-value="${p:component/apic.organization}"
                     description="Provider organization name."/>
      </property>
      <property name="catalog" required="true">
        <property-ui type="textBox"
                     label="Catalog"
                     default-value="${p:component/apic.catalog}"
                     description="The catalog's name that is being deployed to."/>
      </property>
      <property name="definition" required="true">
        <property-ui type="textBox"
                     label="API or Product Definition"
                     default-value="${p:component/apic.definition}"
                     description="The full path of a .yaml file containing the API or Product definition."/>
      </property>
      <property name="stage" required="false">
        <property-ui type="checkBox"
                     label="Stage Status"
                     default-value="false"
                     description="Leave the product in the staged status."/>
      </property>
      <property name="apicPath" required="false">
        <property-ui type="textBox"
                     hidden="true"
                     label="APIC Tool Path"
                     default-value="${p?:component/apic.path}"
                     description="Full path to the 'apic' command line tool. Example: 'C:\Users\IBM_ADMIN\AppData\Roaming\npm\apic.cmd'"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes"/>
      <arg file="publish.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Publish Application to Provider App">
    <description>Publish a Node.js (Loopback) application to a provider app.</description>
    <properties>
      <property name="server" required="true">
        <property-ui type="textBox"
                     label="Server"
                     default-value="${p:component/apic.server}"
                     description="The specified management server endpoint to publish to. For example, the Bluemix endpoint is: 'us.apiconnect.ibmcloud.com'"/>
      </property>
      <property name="organization" required="true">
        <property-ui type="textBox"
                     label="Organization"
                     default-value="${p:component/apic.organization}"
                     description="Provider organization name."/>
      </property>
      <property name="app" required="true">
        <property-ui type="textBox"
                     label="Loopback App"
                     default-value="${p:component/apic.app}"
                     description="Provider Loopback app name for the publish."/>
      </property>
      <property name="projDir" required="true">
        <property-ui type="textBox"
                     label="Loopback Project Directory"
                     default-value="${p:component/apic.projDir}"
                     description="Full path to the Loopback app's directory."/>
      </property>
      <property name="apicPath" required="false">
        <property-ui type="textBox"
                     hidden="true"
                     label="APIC Tool Path"
                     default-value="${p?:component/apic.path}"
                     description="Full path to the 'apic' command line tool. Example: 'C:\Users\IBM_ADMIN\AppData\Roaming\npm\apic.cmd'"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes"/>
      <arg file="appsPublish.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Set Configuration Variable">
    <description>Set one configuration variable. The 'Login' step is not required. This is a wrapper step for the App and Catalog Identifier. If you understand and have
    access to the Identifier command, use the Shell step to run that command.</description>
    <properties>
      <property name="server" required="true">
        <property-ui type="textBox"
                     label="Server"
                     default-value="${p:component/apic.server}"
                     description="The specified management server endpoint for the variable configuration. For example, the Bluemix endpoint is: 'us.apiconnect.ibmcloud.com'"/>
      </property>
      <property name="organization" required="true">
        <property-ui type="textBox"
                     label="Organization"
                     default-value="${p:component/apic.organization}"
                     description="Provider organization name for the variable configuration."/>
      </property>
      <property name="type" required="true">
        <property-ui type="selectBox"
                     label="Config Variable Type"
                     default-value=""
                     description="Select the type of variable you wish to configure."/>
                <value label="App">app</value>
                <value label="Catalog">catalog</value>
      </property>
      <property name="name" required="true">
        <property-ui type="textBox"
                     label="App or Catalog Name"
                     default-value="${p:component/apic.app}"
                     description="The name provides the default identity of a app or catalog for all the commands that are used to manage aspects of an app or catalog."/>
      </property>
      <property name="local" required="false">
        <property-ui type="checkBox"
                     label="Local"
                     default-value="false"
                     description="Select to set the local application configuration variable."/>
      </property>
      <property name="global" required="false">
        <property-ui type="checkBox"
                     label="Global"
                     default-value="false"
                     description="Select to set the global configuration variable."/>
      </property>
      <property name="apicPath" required="false">
        <property-ui type="textBox"
                     hidden="true"
                     label="APIC Tool Path"
                     default-value="${p?:component/apic.path}"
                     description="Full path to the 'apic' command line tool. Example: 'C:\Users\IBM_ADMIN\AppData\Roaming\npm\apic.cmd'"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes"/>
      <arg file="configSet.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
